html, body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;
    background: #231910;
}

:root {
    --width: 300px;
    --height: 440px;
    --sealing-width: 80px;
    --top-secret-width: 270px;
}

.letter-front {
    width: var(--width);
    position: relative;
    z-index: 2;
}

.letter-back {
    width: var(--width);
    position: fixed;
    z-index: 1;
    transform: translateX(calc(0px - var(--width)));
    box-shadow: -20px 20px 50px #000;
    
}

.letter-seal-closed {
    position: relative;
    width: var(--width);
    transform: translateY(calc(-50px - var(--height)));
    z-index: 4;

    transition: transform 1s ease-in;
    transform-origin: top left;
}

.letter-seal-opened {
    position: relative;
    display: block;
    width: var(--width);
    transform: translateY(calc(-43px - var(--height))) scaleY(0);
    transform-origin: bottom left;
    opacity: 0;

    transition: all 1s ease-out 1s;
    /* visibility: hidden; */
}

/* Sealing Rubber Duck */
.sealing {
    position: relative;
    display: block;
    width: var(--sealing-width);
    /* transform: ; */
    transform: translateX(calc(var(--width) / 2 - var(--sealing-width) / 2)) translateY(calc(-20px - var(--sealing-width) - var(--height)));
    z-index: 5;
}

.top-secret {
    position: relative;
    display: block;
    width: var(--top-secret-width);
    /* transform: ; */
    transform: translateX(calc(var(--width) / 2 - var(--top-secret-width) / 2)) translateY(calc(0px - calc(var(--top-secret-width) / 4) - var(--height)));
    z-index: 5;
}

.letter {
    height: var(--height);
    transition: transform 0.7s ease-out;
}

.toggle.letter {
    transform: translateY(150px);
    transition-delay: 0s;
}

.closed-seal-animation {
    transform: translateY(calc(-43px - var(--height))) scaleY(0);
}

.open-seal-animation {
    transform: translateY(calc(-43px - var(--height)));
    opacity: 1;
}
/* .opac.letter {
    animation: fade-out 0.5s 0.7s ease forwards;
} */


@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

