html, body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;
    background: hsl(28, 37%, 10%);
    /* overflow-y: hidden; */
}

:root {
    --width: 300px;
    --height: 440px;
    --sealing-width: 80px;
    --top-secret-width: 270px;
}

.letter-front {
    width: var(--width);
    position: relative;
    z-index: 3;
}

.letter-back {
    width: var(--width);
    position: fixed;
    z-index: 1;
    transform: translateX(calc(0px - var(--width)));
    box-shadow: -20px 20px 50px #000;
    
}

.letter-seal-closed {
    position: relative;
    width: var(--width);
    transform: translateY(calc(-50px - var(--height)));
    z-index: 4;

    transition: transform 0.4s ease-in;
    transform-origin: top left;
}

.letter-seal-opened {
    position: relative;
    display: block;
    width: var(--width);
    transform: translateY(calc(-5px - var(--height))) scaleY(0);
    transform-origin: bottom left;
    opacity: 0;

    transition: all 0.4s ease-out 0.4s;
    /* visibility: hidden; */
}

/* Sealing Rubber Duck */
.sealing {
    position: relative;
    display: block;
    width: var(--sealing-width);
    /* transform: ; */
    transform: translateX(calc(var(--width) / 2 - var(--sealing-width) / 2)) translateY(calc(-20px - var(--sealing-width) - var(--height)));
    transition: transform 0.7s ease-out;
    z-index: 5;
}

.top-secret {
    position: relative;
    display: block;
    width: var(--top-secret-width);
    /* transform: ; */
    transform: translateX(calc(var(--width) / 2 - var(--top-secret-width) / 2)) translateY(calc(0px - calc(var(--top-secret-width) / 4) - var(--height)));
    z-index: 5;
}

/* Paperclip with me */
.paperclip1 {
    display: block;
    position: relative;
    opacity: 0;
    width: 100px;
    transform: translateY(calc(var(--height) * -3 - 20px)) translateX(-50px);
    z-index: 6;
}

/* Paperclip with soliders */
.paperclip2 {
    position: relative;
    opacity: 0;
    width: 120px;
    transform: translateY(calc(var(--height) * -3 - 130px)) translateX(calc(var(--width) - 60px));
    z-index: 6;
}

.letter {
    height: var(--height);
}

/* The actual letter */
.letter-paper {
    position: relative;
    width: var(--width);
    z-index: 2;
    transform: translateY(calc(var(--height) * -2 + 90px));
}

/* FIRST CLICK */
/* Moves the seal body slightly lower*/
.toggle.letter {
    transition: transform 0.7s ease-out;
    transform: translateY(150px);
}

/* Opening the seal cap animation */
.closed-seal-animation {
    transform: translateY(calc(-43px - var(--height))) scaleY(0);
}

.opened-seal-animation {
    transform: translateY(calc(-44.5px - var(--height)));
    opacity: 1;
}

.move-ducky {
    transform: translateX(calc(var(--width) / 2 - var(--sealing-width) / 2)) translateY(calc(30px - var(--sealing-width) - var(--height)));
}

/* Moves the actual letter a bit upwards, waiting for second click */
.move-letter-slightly {
    transition: transform 1s ease-out 0.6s;
    transform: translateY(calc(var(--height) * -2 + 50px));
}

/* SECOND CLICK */
.move-seal-body.letter {
    transition: transform 1s ease-out;
    transform: translateY(350px);
}

/* Taking the letter out of the seal */
.take-letter-out {
    transition: transform 1s ease-in-out;
    transform: translateY(calc(var(--height) * -3 + 80px)) scale(1.1);
}

.move-paperclip1 {
    transition: transform 1s ease-out 1s;
    transform: translateY(calc(var(--height) * -3 - 20px)) translateX(-20px);
}

.move-paperclip2 {
    transition: transform 1s ease-out 1s;
    transform: translateY(calc(var(--height) * -3 - 130px)) translateX(calc(var(--width) - 100px));
}




.opac {
    animation: fade-out 0.5s ease forwards;
}

.half-fade {
    animation: half-fade 0.5s 1s ease forwards;
}

.fade-in {
    animation: fade-in 0.5s 1s ease forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes half-fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
}

